@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap')
layer(base);

@import 'tailwindcss';

section {
	@apply min-h-screen;
	@apply md:w-[60%] md:mx-auto pt-5 md:pt-40;
	@apply px-5 md:px-0;
	font-family: "Montserrat", "Open Sans", sans-serif;
}
p {
	@apply mb-2 leading-7 text-xl font-normal;
}
h3 {
	@apply mb-2 font-medium text-2xl md:text-3xl text-zinc-900;
}

h4 {
	@apply mb-2 text-2xl text-zinc-400;
}

a {
	@apply underline hover:text-rose-600;
}

.tech-stack {
	@apply text-zinc-500 text-base mb-4;
}

.work-list-item > a {
	@apply font-bold underline text-xl;
}
.work-list-item > h5 {
	@apply font-bold text-xl;
}

.work-list-item {
	@apply mb-6;
}

.highlight-section > span {
	@apply font-medium text-rose-600 hover:text-rose-500;
}

.text-align {
	@apply text-center md:text-left;
}

.m-align {
	@apply my-10 md:my-0;
}

.social-links {
	@apply flex justify-center md:justify-start md:my-3;
}
.social-links > * {
	@apply mr-4 md:mr-1;
}
.social-links svg {
	@apply hover:fill-rose-600 w-12 h-12 md:w-8 md:h-8;
}

